<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/lightning-electric-energy.png" type="image/x-icon">
    <link rel="icon" href="/images/lightning-electric-energy.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/nav.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="home"><button><a href="/">Home</a></button></div>
      </div>
        <div class="postIndPostTitle"><h3><%= allPosts.title %></h3></div>
        <div class="postIndPost">
          <div class="indPostText"><p><%= allPosts.text %></p></div>
          <div class="indPostAuth"><p>posted by: <%= allPosts.username %></p></div>
        </div>
        <% if(comment.length > 0) { %>
        <div class="comment-title"><p>comments</p></div>
        <div class="postComments">
          <% for(var i = comment.length-1; i >= 0; i--){ %>
          <div class="comment-content"><li><%= comment[i].username %>: <%= comment[i].comment_text %></li></div>
      <% } %>
        </div>
      <% } %>
      <% if(cookie){ %>
      <div class="writeComment">
        <form action="/post/<%= allPosts.id %>/comment" method="post">
          <textarea class="write" type="text" cols="40" rows="5" name="comText" placeholder="Write a comment"></textarea><br>
          <input class="commsend" type="submit" name="submitNew" value="Comment">
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
