<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/nav.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="home"><button><a href="/">Home</a></button></div>
      </div>
      <div class="title">
        <h1>Post</h1>
      </div>
        <div class="indPost">
          <div class="indPostTitle"><h3><%= allPosts.title %></h3></div>
          <div class="indPostText"><p><%= allPosts.text %></p></div>
          <div class="indPostAuth"><p>posted by: <%= allPosts.username %></p></div>
        </div>
        <% if(comment) { %>
        <div class="comments">
          <div class="comment-title"><p>comments</p></div>
          <% for(var i = 0; i < comment.length; i++){ %>
          <div class="comment-content"><p><%= comment[i].comment_text %></p></div>
        </div>
      <% } %>
      <% } %>
      <% if(cookie){ %>
      <div class="writeComment">
        <form action="/post/<%= allPosts.id %>/comment" method="post">
          <input type="text" name="comText" placeholder="Write a comment"><br>
          <input type="submit" name="submitNew" value="Comment">
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
